/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.container {
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
}
.title {
  font-size: 18px;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}
/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #75f78d;
  padding: 10px;
  color: #000;
  font-size: 16px;
}

.header h1 {
  font-size: 16px;
  margin: 0;
  text-align: center;
  flex: 1;
}

.back-btn {
  background: none;
  border: none;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  margin-right: auto;
}

.options-icon {
  font-size: 20px;
}

/* Main Content */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.action-btn {
  background-color: #75f78d;
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.action-btn:hover {
  background-color: #76d476;
}

h1 {
  font-weight: normal; /* Hoặc giá trị bạn muốn, ví dụ: 400 */
}
